<h1>Welcome to our math app</h1>
<%= var1 %> <%= sign %> <%= var2 %> = <%= result %>
<form method = "post" id = "calcValues">
    <input type = "text" placeholder = "Variable1" name = "var1" />
    <input type = "text" placeholder = "Sign" name = "sign" />
    <input type = "text" placeholder = "Variable2" name = "var2" />
    <input type = "submit" value = "Calculate" />
</form>